:root {
    --price-narrow-side: 14px;
    --field-wide-side: 81px;
    --field-narrow-side: 52px;
    --chip-width: 24px;
    --chip-inner-width: 20px;
    --message-container-width: 457px;
    --message-container-height: 410px;
    --dice-image-width: 126px;
    --player-icon-size: 90px;
    --running-circle-size: 6px;
    --running-circle-translate: calc(var(--player-icon-size) / 2 - var(--running-circle-size) / 2);
    --message-input-height: 45px;
    --waiting-screen-size: calc(var(--message-container-width) / 2);
    --waiting-animation-size: 150px;
}

.map-table {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.corner-field {
    width: var(--field-wide-side);
    height: var(--field-wide-side);
}

.vertical-field {
    position: relative;
    width: var(--field-narrow-side);
    height: var(--field-wide-side);
}

.name-holder {
    display: none;
}

.horizontal-field {
    position: relative;
    width: var(--field-wide-side);
    height: var(--field-narrow-side);
}

.vertical-premap-filler {
    width: var(--price-narrow-side);
    height: var(--field-narrow-side);
}

.horizontal-premap-filler {
    width: var(--field-narrow-side);
    height: var(--price-narrow-side);
}

.price-corner-square-field {
    height: var(--price-narrow-side);
    width: var(--price-narrow-side);
}

.price-corner-vertical-field {
    height: var(--field-wide-side);
    width: var(--price-narrow-side);
}

.price-corner-horizontal-field {
    height: var(--price-narrow-side);
    width: var(--field-wide-side);
}

.corner-field, .horizontal-field, .vertical-field {
    background-color: transparent !important;
}

.vertical-premap-filler, .horizontal-premap-filler {
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.player-name {
    font-size: 17px;
}

.player-money {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 7px;
}

.player-icon, .player-name, .player-group {
    margin: 0;
}

.player-group {
    width: 150px;
    position: relative;
    background-color: darkslategray;
    color: white;
}

.player-icon {
    width: var(--player-icon-size);
    height: var(--player-icon-size);
    background-image: url('/images/user.png');
    background-size: var(--player-icon-size);
    border-radius: var(--player-icon-size);
    margin: auto;
}

.player-outline {
    box-shadow: 15px 0 3px -5px white;
}

.message-body {
    text-align: left;
    color: white;
    font-size: 14px;
    padding: 5px 5px 5px 10px;
}

#player-message-container {
    display: flex;
    align-items: center;
    border: none;
    background-color: darkslategray;
    width: var(--message-container-width);
    height: var(--message-input-height);
    margin-left: 5px;
    margin-bottom: 5px;
}

#player-message-input {
    padding: 0 0 0 10px;
    width: 349px;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 15px;
    float: left;
    line-height: 30px;
}

#player-message-input:focus {
    outline: none;
}

#player-message-button {
    background-color: rgba(5, 29, 29, 0.63);
    border: none;
    font-size: 15px;
    width: 98px;
    height: 30px;
    color: white;
    padding: 0;
}

#message-container {
    background-color: darkslategray;
    width: var(--message-container-width);
    height: var(--message-container-height);
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 5px 5px 0 5px;
}

div::-webkit-scrollbar {
    width: 7px;
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    background: rgba(5, 29, 29, 0.63);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.dice-container {
    width: calc(var(--dice-image-width) * 2);
    position: absolute;
    margin-top: calc((var(--message-container-height) - var(--dice-image-width)) / 2);
    margin-left: calc((var(--message-container-width) - var(--dice-image-width) * 2) / 2);
}

.chip-outer {
    width: var(--chip-width);
    height: var(--chip-width);
    border-radius: 15px;
    position: absolute;
    box-shadow: 1px 1px 1px 0.8px black;
    background: grey;
    opacity: 0.8;
    transition: left 0.4s, top 0.4s, right 0.4s, down 0.4s;
    transition-timing-function: linear;
    z-index: 2;
}

.chip-inner {
    position: absolute;
    width: var(--chip-inner-width);
    height: var(--chip-inner-width);
    border-radius: 10px;
    margin: 2px;
}

.mortgage-tag {
    position: absolute;
    width: var(--field-narrow-side);
    height: var(--field-narrow-side);
    background-image: url('/images/mortgage-tag.png');
    background-size: var(--field-narrow-side);
}

.owner-cover {
    position: absolute;
    opacity: 0.6;
}

.vertical-cover {
    height: 62px;
    width: 100%;
}

.horizontal-cover {
    height: 100%;
    width: 62px;
}

.stick-top {
    top: 0;
}

.stick-bottom {
    bottom: 0;
}

.stick-right {
    right: 0;
}

.stick-left {
    left: 0;
}

.left-text {
    writing-mode: vertical-rl;
}

.right-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.price-tag {
    position: absolute;
    height: 100%;
    width: 19px;
    color: black;
    line-height: 19px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.text-left, .text-right {
    height: 100%;
    width: 19px;
    writing-mode: vertical-rl;
}

.text-right {
    transform: rotate(180deg);
}

.price-straight {
    width: 100%;
    height: 19px;
}

.offer-money-input {
    font-size: 15px;
    box-shadow: 0 -1px 0 lightgrey inset;
}

.offer-money-input:focus {
    border: none;
}

.offer-info-box {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 3;
    background-color: white;
    font-size: 15px;
}

.offer-side-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.offer-side-info-container {
    display: block;
    width: 50%;
}

.offer-item-list {
    text-align: left;
    padding-left: 30px;
}

.offer-box-description {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.offer-button {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.offer-reply-waiting-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: var(--message-input-height);
    margin: auto;
    width: var(--waiting-screen-size);
    height: var(--waiting-screen-size);
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.75);
}

.offer-waiting-description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.offer-waiting-animation {
    background-image: url('/images/loading-bubbles.gif');
    background-size: 100%;
    background-repeat: no-repeat no-repeat;
    width: var(--waiting-animation-size);
    height: var(--waiting-animation-size);
    margin: auto;
    border-radius: var(--waiting-animation-size);
    border: 2px dashed black;
}

.house-container {
    position: absolute;
}

.house-pic {
    width: 10px;
    height: 10px;
    background-image: url('/images/house.png');
    background-size: 100%;
}

.hotel-pic {
    width: 20px;
    height: 20px;
    background-image: url('/images/hotel.png');
    background-size: 100%;
}

.fullscreen-shadow-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
}

.center-screen-container {
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5vh;
}

.running-circle {
    width: var(--running-circle-size);
    height: var(--running-circle-size);
    background: white;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: var(--running-circle-translate);
    animation: running-circle 0.7s linear infinite;
}

@keyframes running-circle {
    0% {
        transform: rotate(0deg) translate(var(--running-circle-translate));
    }
    100% {
        transform: rotate(365deg) translate(var(--running-circle-translate));
    }
}

@-webkit-keyframes running-circle {
    0% {
        transform: rotate(0deg) translate(var(--running-circle-translate));
    }
    100% {
        transform: rotate(365deg) translate(var(--running-circle-translate));
    }
}