.image-row td {
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.name-row td {
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#playerNameInput {
    text-align: center;
}

.error-box {
    position: fixed;
    bottom: 100px;
    display: none;
    width: 70%;
    left: 15%;
    right: 15%;
    background-color: rgba(255,154,72,0.77);
    text-align: center;
    padding: 10px;
    border-radius: 10px
}