:root {
    --price-narrow-side: 14px;
    --field-wide-side: 81px;
    --field-narrow-side: 52px;
    --chip-width: 24px;
    --chip-inner-width: 20px;
    --message-container-width: 457px;
    --message-container-height: 410px;
    --dice-image-width: 126px;
    --player-icon-size: 90px;
    --running-circle-size: 6px;
    --running-circle-translate: calc(var(--player-icon-size) / 2 - var(--running-circle-size) / 2);
    --message-input-height: 45px;
    --waiting-screen-size: calc(var(--message-container-width) / 2);
    --waiting-animation-size: 150px;

    --filler: 92;
    --mount: 3862;
    --map: 3662;
    --gap: 8;
    --narrow: 292;
    --wide: 477;
    --main-field-block: 362;
    --price-block: 107;
    --center: 2692;
    --map-vh: calc(100vh * var(--map) / var(--mount));
    --narrow-vh: calc(100vh * var(--narrow) / var(--mount));
    --wide-vh: calc(100vh * var(--wide) / var(--mount));
    --gap-vh: calc(100vh * var(--gap) / var(--mount));
    --center-vh: calc(100vh * var(--center) / var(--mount));
    --main-field-block-vh: calc(100vh * var(--main-field-block) / var(--mount));
    --price-block-vh: calc(100vh * var(--price-block) / var(--mount));
    --house-size-vh: calc(var(--narrow-vh) / 4);
    --hotel-size-vh: calc(var(--narrow-vh) / 2.5);

    --map-back-color: rgba(33, 38, 41, 1);
}

.map-parts {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    background-color: var(--map-back-color);
}

.gm-players-container {
    height: 100vh;
    width: calc((100vw - 100vh) / 2);
    display: flex;
    flex-direction: row-reverse;
}

.map-container {
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/map-back.png');
    background-size: 100%;
}

.map {
    display: flex;
    flex-direction: column;
    height: var(--map-vh);
    width: var(--map-vh);
}

.gm-map-row {
    height: var(--wide-vh);
    display: flex;
}

.gm-center-row {
    height: var(--center-vh);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.gm-column {
    width: var(--wide-vh);
    display: flex;
    flex-direction: column;
}

.gm-field {
    position: relative;
}

.gm-corner {
    width: var(--wide-vh);
    height: 100%;
}

.vertical-field {
    width: var(--narrow-vh);
    height: 100%;
}

.horizontal-field {
    width: 100%;
    height: var(--narrow-vh);
}

.gm-map-center {
    height: 100%;
    width: var(--center-vh);
    background-color: var(--map-back-color);
}

.chat-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chat-message {
    text-align: left;
    padding: 0.5vh 1vh 0 2vh;
    font-size: 2vh;
    font-style: italic;
    color: white;
}

.chat-height-filler {
    height: 100%;
}

.chat-input-container {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-chat-input {
    width: 80%;
    height: 70%;
    padding: 0 0 0 2vh;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 2.5vh;
    line-height: 100%;
}

.player-chat-input:focus {
    outline: none;
    box-shadow: 0 -0.1vh 0 grey inset;
}

.player-chat-send {
    width: 20%;
    height: 70%;
    color: white;
    background-color: rgba(50, 55, 60, 1);
    border: none;
    font-size: 3vh;
    padding: 0;
}

.player-chat-send:hover {
    cursor: pointer;
}

.vertical-gap {
    height: 100%;
    width: var(--gap-vh);
}

.horizontal-gap {
    height: var(--gap-vh);
    width: 100%;
}

.vertical-cover, .horizontal-cover {
    position: absolute;
    opacity: 0.55;
}

.vertical-cover {
    width: 100%;
    height: var(--main-field-block-vh);
}

.horizontal-cover {
    height: 100%;
    width: var(--main-field-block-vh);
}

.price-straight {
    width: 100%;
    height: var(--price-block-vh);
}

.price-side {
    width: var(--price-block-vh);
    height: 100%;
    writing-mode: vertical-rl;
}

.price-straight, .price-side {
    position: absolute;
    font-size: 2vh;
    text-align: center;
    line-height: var(--price-block-vh);
}




.gm-player-name {
    font-size: 17px;
}

.player-money {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 7px;
}

.player-icon, .gm-player-name, .player-info-container {
    margin: 0;
}

.player-info-container {
    width: 150px;
    position: relative;
    background-color: inherit;
    color: white;
}

.player-icon {
    width: var(--player-icon-size);
    height: var(--player-icon-size);
    background-image: url('/images/user.png');
    background-size: var(--player-icon-size);
    border-radius: var(--player-icon-size);
    margin: auto;
}

.player-outline {
    box-shadow: 15px 0 3px -5px white;
}

div::-webkit-scrollbar {
    width: 7px;
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    background: rgba(5, 29, 29, 0.63);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.dice-container {
    display: none;
    z-index: 7;
}

.dice {
    width: 18vh;
}

.chips-container {
    position: absolute;
}

.chip-outer {
    display: none;
    width: var(--chip-width);
    height: var(--chip-width);
    border-radius: 15px;
    position: absolute;
    box-shadow: 1px 1px 1px 0.8px black;
    background: grey;
    opacity: 0.8;
    transition: left 0.4s, top 0.4s, right 0.4s, down 0.4s;
    transition-timing-function: linear;
    z-index: 2;
}

.chip-inner {
    position: absolute;
    width: var(--chip-inner-width);
    height: var(--chip-inner-width);
    border-radius: 10px;
    margin: 2px;
}

.mortgage-tag {
    position: absolute;
    width: var(--narrow-vh);
    height: var(--narrow-vh);
    background-image: url('/images/mortgage-tag.png');
    background-size: var(--narrow-vh);
    display: none;
    z-index: 1;
}

.stick-top {
    top: 0;
}

.stick-bottom {
    bottom: 0;
}

.stick-right {
    right: 0;
}

.stick-left {
    left: 0;
}

.right-text {
    transform: rotate(180deg);
}

.offer-money-input {
    font-size: inherit;
    box-shadow: 0 -0.1vh 0 lightgrey inset;
}

.offer-money-input:focus {
    border: none;
}

.offer-info-box {
    position: absolute;
    width: var(--center-vh);
    height: var(--center-vh);
    z-index: 10;
    background-color: white;
    font-size: 2vh;
    text-align: center;
    display: none;
}

.offer-side-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.offer-side-info-container {
    display: block;
    width: 50%;
}

.offer-item-list {
    text-align: left;
    padding-left: 30px;
}

.offer-box-description {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.offer-button {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.offer-reply-waiting-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: var(--message-input-height);
    margin: auto;
    width: var(--waiting-screen-size);
    height: var(--waiting-screen-size);
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
}

.offer-waiting-description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.offer-waiting-animation {
    background-image: url('/images/loading-bubbles.gif');
    background-size: 100%;
    background-repeat: no-repeat no-repeat;
    width: var(--waiting-animation-size);
    height: var(--waiting-animation-size);
    margin: auto;
    border-radius: var(--waiting-animation-size);
    border: 2px dashed black;
}

.house-container {
    position: absolute;
    z-index: 1;
    display: flex;
}

.house-pic {
    width: var(--house-size-vh);
    height: var(--house-size-vh);
    background-image: url('/images/house.png');
}

.hotel-pic {
    width: var(--hotel-size-vh);
    height: var(--hotel-size-vh);
    background-image: url('/images/hotel.png');
}

.hotel-pic, .house-pic {
    background-size: 100%;
    z-index: 1;
}

.running-circle {
    width: var(--running-circle-size);
    height: var(--running-circle-size);
    background: white;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: var(--running-circle-translate);
    animation: running-circle 0.7s linear infinite;
}

@keyframes running-circle {
    0% {
        transform: rotate(0deg) translate(var(--running-circle-translate));
    }
    100% {
        transform: rotate(365deg) translate(var(--running-circle-translate));
    }
}

@-webkit-keyframes running-circle {
    0% {
        transform: rotate(0deg) translate(var(--running-circle-translate));
    }
    100% {
        transform: rotate(365deg) translate(var(--running-circle-translate));
    }
}