:root {
    --gr-player-name-height: 5vw;
    --gr-player-image-size: 16vw;
    --gr-row-width: calc(var(--gr-player-image-size) * 5);
    --gr-row-margin: calc((100vw - var(--gr-row-width)) / 2);
}

.game-room-container {
    text-align: center;
}

.gr-header {
    font-weight: bold;
    font-size: 2vw;
}

.image-row {
    height: var(--gr-player-image-size);
}

.name-row {
    height: var(--gr-player-name-height);
    background: rgba(255, 255, 255, 0.70);
    text-align: center;
    line-height: var(--gr-player-name-height);
}

.name-row, .image-row {
    width: var(--gr-row-width);
    margin-left: var(--gr-row-margin);
    margin-right: var(--gr-row-margin);
    display: flex;
}

.gr-player-image {
    width: var(--gr-player-image-size);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: calc(var(--gr-player-image-size) * 0.8);
}

.gr-player-name {
    width: var(--gr-player-image-size);
    height: 100%;
    font-size: 1.2vw;
}

.gr-button {
    border: none;
    box-shadow: 0 0 20vw 0.1vw black;
    height: 3.5vw;
    line-height: 3.5vw;
    width: 18vw;
    margin-top: 10vh;
    font-size: 1.5vw;
}