table, tr, td {
    text-align: center;
    padding: 0;
    border-collapse: collapse;
}

body, button, input {
    font-family: 'Century Gothic', serif;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background: darkgrey;
}

button:active {
    background: lightgrey;
}

p {
    margin: 0;
}