<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<header>
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/game-map.css">
    <link rel="stylesheet" href="/css/game-room.css">
    <link rel="stylesheet" href="/css/start-page.css">
</header>
<title>Monopoly Game</title>
<body>
<div id="mainContainer"></div>
<div id="errorMessage" class="error-container"></div>
<div id="fullscreenShadow" class="fullscreen-shadow-container">
    <div id="atopMapContainer" class="center-screen-container"></div>
</div>

<script type="module" src="/js/app.js"></script>
</body>
</html>
