<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header>
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}" href="/favicon.ico"/>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/game-map.css">
    <link rel="stylesheet" href="/css/game-room.css">
    <link rel="stylesheet" href="/css/start-page.css">
</header>
<title>Monopoly Game</title>

<body>
<div style="display: none" id="proxy-host" th:text="${proxyHost}"></div>
<div id="mainContainer"></div>

<div id="errorMessage" class="error-box"></div>
<div id="fullscreenShadow" class="fullscreen-shadow-container">
    <div id="atopMapContainer" class="center-screen-container"></div>
</div>

<script type="module" th:src="@{/js/app.js}" src="/js/app.js"></script>

</body>
</html>