.chat {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.chat-message {
    display: flex;
    font-size: 2.2vh;
    max-width: 70%;
    width: fit-content;
    text-align: start;
    word-break: break-word;
    color: var(--gray-900);
    padding: 0.4vh 1vh;
    margin: 0 0 0.3vh 0;
    border-radius: 1vh;
}

.chat-message > span {
    margin-left: 0.5vh;
}

.chat-message-author {
    align-self: start;
    font-weight: 700;
    min-width: max-content;
}

.own-message {
    align-self: end;
}

.system-message {
    align-self: start;
    font-style: italic;
    background: var(--gray-400);
    font-size: 1.8vh;
}

.player-message {
    align-self: start;
}

.chat-input-container {
    height: 5.6vh;
    margin: 0.6vh;
    display: flex;
    background: white;
    border-radius: 2vh;
}

.chat-input-container > input, .chat-input-container > button {
    padding: 1.5vh 1.5vh;
}

.chat-input {
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent !important;
    font-size: 2.5vh;
    color: var(--gray-700);
}

.chat-input::placeholder {
    font-size: 2vh;
    opacity: 0.7;
}

.chat-input:focus-visible {
    /*outline: none !important;*/
}

.send-message {
    width: 10%;
    cursor: pointer;
    color: white;
    background-color: var(--gray-700);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.send-message:hover {
    background-color: var(--gray-800) !important;
}

.send-message:active {
    background-color: var(--map-background-color) !important;
}

.chat-filler {
    height: 100%;
}

.scroll-down {
    position: sticky;
    bottom: 2vh;
    align-self: end;
    width: 5vh;
    min-width: 5vh;
    height: 5vh;
    min-height: 5vh;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0;
    margin-right: 2vh;
}

.scroll-down-icon {
    font-size: 5vh;
}

.emoji-picker-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 1.5vh;
    background-image: url('../images/smiley-face.png');
    background-size: 3.5vh;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    width: 4vh !important;
}

.emoji-picker-button > span {
    background-image: url('../images/smiley-face.png');
    background-size: 3vh;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    font-size: 3vh !important;
    z-index: 1;
    height: 3vh !important;
    width: 3vh !important;
}
