:root {
    --gr-player-container-width: calc(100vw * 0.15);
    --gr-player-container-side-margin: calc(100vw * 0.05);
}

.gr-players-container {
    display: flex;
    flex-direction: row;
}

.gr-player {
    width: var(--gr-player-container-width);
    margin-right: var(--gr-player-container-side-margin);
    margin-left: var(--gr-player-container-side-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gr-player-image {
    height: var(--gr-player-container-width);
    width: var(--gr-player-container-width);
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-image: url('../images/user.png')!important;
    background-size: var(--gr-player-container-width);
}

.gr-player-name {
    font-size: 2.5vh;
    font-weight: 500;
    width: 100%;
    background: rgba(255,255,255, 0.4);
    border-radius: 10vh;
    padding: 1vh 0 1vh 0;
}

.start-game-button {
    margin-top: 10vh;
}
