:root {
    --gr-player-width: 15vw;
    --gr-player-side-margin: 5vw;

    --gr-overview-player-width: 6vh;
}

.gr-players-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.gr-overview-player {
    width: var(--gr-overview-player-width);
    margin: 0 4vh 0 4vh;
}

.gr-overview-players-column {
    min-width: 70vh;
    padding: 0;
}

.gr-overview-table {
    max-width: 90vw;
}

.gr-overview-row {
    height: 10vh;
    padding: 0 1vh 0 1vh;
}

.gr-overview-row, .gr-overview-players-column {
    background-color: rgba(255, 255, 255, 0.4);
}

.gr-player {
    width: var(--gr-player-width);
    margin-right: var(--gr-player-side-margin);
    margin-left: var(--gr-player-side-margin);
}

.gr-player, .gr-overview-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gr-overview-player-avatar {
    height: var(--gr-overview-player-width);
    width: var(--gr-overview-player-width);
    background-size: var(--gr-overview-player-width);
}

.gr-player-avatar {
    height: var(--gr-player-width);
    width: var(--gr-player-width);
    background-size: var(--gr-player-width);
}

.gr-player-avatar, .gr-overview-player-avatar {
    background-repeat: no-repeat no-repeat;
    background-position: center center;
}

.gr-player-name {
    font-size: 1.5vw;
    padding: 1vh 0 1vh 0;
}

.gr-overview-player-name {
    font-size: 2vh;
}

.gr-player-name, .gr-overview-player-name {
    text-align: center;
    font-weight: 500;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10vh;
}

.start-game-button {
    margin-top: 10vh;
}

.join-button {
    margin-left: 5vh;
    background-color: rgba(150, 150, 150, 0.4);
    text-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, 0.5);
    color: white;
    min-width: 12vh;
    height: 5vh;
    justify-content: center;
}

.join-button:hover {
    background-color: rgba(150, 150, 150, 0.7);
}

.join-button:active {
    background-color: rgba(150, 150, 150);
}

.join-button .p-button-icon-left {
    margin-right: 1vh !important;
    text-shadow: inherit;
}

.join-button .p-button-label {
    flex: none !important;
}
