:root {
    --player-view-height: calc(100vh / 5);
    --player-icon-size: calc(var(--player-view-height) * 0.7);
}

.game-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--map-background-color);
}

.player-container {
    display: flex;
    flex-direction: column;
    width: calc((100vw - 100vh) / 2);
    min-width: var(--player-icon-size);
    justify-content: center;
}

.player-view {
    height: var(--player-view-height);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 0.5vh;
    color: var(--map-main-color);
}

.player-icon-container {
    position: relative;
    width: var(--player-icon-size);
    height: var(--player-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-icon-container > div {
    border-radius: var(--player-icon-size);
}

.player-icon-outline {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0.2vh 0.7vh var(--player-color);
}

.bankrupt-player {
    opacity: 0.4;
}

.player-management {
    background-color: white;
    position: relative;
    max-width: var(--player-icon-size);
}

.player-management-button span {
    font-weight: 500;
    color: var(--surface-700);
}

.modal-button-icon {
    font-size: 2vh;
    text-shadow: none;
}

.player-name {
    margin-top: 0.4vh;
}

.player-money {
    font-size: 2vh;
    font-weight: 700;
}

.player-icon, .player-icon-container {
    margin: 0;
}

.flashing-icon {
    animation: iconAnimation 2s infinite;
    -webkit-animation: iconAnimation 2s infinite;
    -moz-animation: iconAnimation 2s infinite;
    -o-animation: iconAnimation 2s infinite;
}

@keyframes iconAnimation {
    0%   { opacity: 1 }
    50%  { opacity: 0.4 }
    100% { opacity: 1 }
}
@-o-keyframes iconAnimation {
    0%   { opacity: 1 }
    50%  { opacity: 0.4 }
    100% { opacity: 1 }
}
@-moz-keyframes iconAnimation {
    0%   { opacity: 1 }
    50%  { opacity: 0.4 }
    100% { opacity: 1 }
}
@-webkit-keyframes iconAnimation {
    0%   { opacity: 1 }
    50%  { opacity: 0.4 }
    100% { opacity: 1 }
}

.modal-content {
    padding: 0 5vh 5vh 5vh;
}

.modal-header {
    padding: 5vh 5vh 0 5vh;
}

.modal-header, .modal-content {
    width: 70vh;
}

.offer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}

.modal-title {
    font-size: 3vh;
    margin-bottom: 5vh;
}

.offer-title {
    font-size: 2.5vh;
    margin-bottom: 2vh;
    font-weight: 500;
}

.offer-side-title {
    font-size: 2.3vh;
    font-weight: 700;
    margin-bottom: 0.5vh;
}

.modal-button-group > button {
    margin: 3vh 3vh 0 3vh;
}

.modal-button {
    padding: 1vh 3vh;
}

.modal-button > span {
    font-weight: 400;
}

.modal-button > span:first-child {
    margin-right: 1vh;
}

.offer-sides-container {
    display: flex;
    flex-direction: row;
}

.offer-side {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.offer-field-view {
    font-size: 2vh;
    font-weight: normal;
    margin-left: 0.5vh;
    cursor: pointer;
    display: inline-block;
    width: 80%;
    line-height: 2vh;
}

.offer-checkbox-container {
    padding-left: 2vh;
    text-align: left;
    position: relative;
    height: 30vh;
    overflow: auto;
}

.offer-checkbox {
    width: 2.7vh;
    height: 2.7vh;
}

.offer-total {
    margin-top: 1.5vh;
    font-size: 2vh;
    font-weight: 600;
}

.offer-money {
    align-self: center;
    padding: 0;
}

.offer-money-input {
    font-size: 2vh;
    width: 25vh;
    padding: 0.8vh 3vh;
    margin-bottom: 0.5vh;
}

.field-offer-view-icon {
    font-size: 2vh;
    float: right;
}

.roll-dice-button {
    border-radius: 0;
    min-width: 30vh;
    min-height: 7vh;
    font-size: 3vh;
}

.roll-dice-button > .pi-spin {
    animation: fa-spin 0.85s linear infinite;
}

.roll-dice-button > .p-button-icon {
    margin-left: 2vh;
    font-size: 3vh;
}

.transparent-dialog {
    background-color: transparent;
    box-shadow: none;
}

.fireworks {
    position: fixed;
    top: 5vh;
    left: 5vw;
    background-color: transparent;
    width: 90vw;
    height: 90vh;
    z-index: -1;
}

.player-avatar {
    border-radius: 50vh;
    position: relative;
    background: white no-repeat no-repeat center center;
}

.avatar-in-login {
    width: 30vh;
    height: 30vh;
    background-size: 30vh;
}

.avatar-in-game {
    width: var(--player-icon-size);
    height: var(--player-icon-size);
    background-size: var(--player-icon-size);
}

.avatar-in-room {
    width: var(--gr-player-container-width);
    height: var(--gr-player-container-width);
    background-size: var(--gr-player-container-width);
}

.avatar-in-picker {
    width: 10vh;
    height: 10vh;
    background-size: 10vh;
}

.avatar-picker {
    display: flex;
    flex-wrap: wrap;
    width: 70vh;
}

.broke-stamp {
    position: absolute;
    background-image: url('./../images/broke.png');
    width: var(--player-icon-size);
    height: var(--player-icon-size);
    background-size: var(--player-icon-size);
}

.chance-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vh;
    height: 15vh;
    background-color: white;
}

.center-popup {
    width: unset !important;
    max-width: unset !important;
}

.center-popup-content {
    border-radius: 2vh;
    background-color: white;
}
