.start-page-container {
    text-align: center;
}

.welcome-message {
    font-weight: bold;
    margin-bottom: 10vh;
}

.player-name-input {
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 3.5vh !important;
    border-bottom: solid 0.4vh rgba(255, 255, 255, 0.3);
    width: 40vh;
    transition: border-bottom 0.3s, box-shadow 0.3s;
}

.player-name-input::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 2.5vh !important;
}

.player-name-input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: solid 0.4vh rgba(255, 255, 255, 0.7);
}

.non-game-button {
    margin-top: 10vh;
    background-color: rgba(255, 255, 255, 0.4);
    text-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, 0.5);
    color: white;
    width: 30vh;
    height: 7vh;
    justify-content: center;
}

.non-game-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.non-game-button:active {
    background-color: rgba(255, 255, 255, 0);
}

.non-game-button .p-button-icon-left {
    margin-right: 2vh !important;
    text-shadow: inherit;
}

.non-game-button .p-button-label {
    flex: none !important;
}

.full-size-background {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-image: url('../images/start-background.jpg') !important;
}

.start-page-content {
    height: 92vh;
}

.page-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
}

.header-avatar {
    height: 6vh;
    width: 6vh;
    background-size: 6vh;
    margin: 1vh 1vh 1vh 1vh;
}

.header-lang {
    margin: 1vh 1vh 1vh 1vh;
}

.header-right-block {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-buttons {
    margin-left: 6vh;
}

.navigator-link {
    cursor: pointer;
    font-size: 2.5vh;
    font-family: var(--font-family);
    color: var(--gray-300);
    font-weight: 500;
    margin-right: 2vh;
}

.navigator-link > a:link, .navigator-link > a:visited, .navigator-link > a:hover, .navigator-link > a:active {
    text-decoration: none;
}

.navigator-link > a:link, .navigator-link > a:visited {
    color: var(--gray-300);
}

.navigator-link > a:hover {
    color: var(--gray-900);
}

.navigator-link > a:active {
    color: var(--gray-700);
}
